<a href="https://colab.research.google.com/github/greensky0107/review/blob/main/Day03%2604_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5-2. 표현식과 문장 (파이썬 용어들)

In [1]:
# 표현식
123  # 숫자
1 + 2 + 3 + 4 + 5  # 수식
'Hello, World!'  # 문자열

'Hello, World!'

In [2]:
# 문장
print('Hello, World!')

Hello, World!

In [3]:
# 프로그램
overlap = [[1, 2], 3, [[4, 5, 6], 7], 8, 9]

for element in overlap:
    print(element)

[1, 2]
3
[[4, 5, 6], 7]
8
9

# 5-4. 주석과 프린트 (파이썬 용어들)

In [4]:
# 직접 주석을 풀고 코드를 돌려 봅시다.
# print("Hello, Python")
print("Hello, Python")

Hello, Python

In [5]:
# 하나만 출력하기
print(123)

123

In [6]:
# 여러개 출력하기
print('안녕', 111, '123')

안녕 111 123

In [7]:
# 비어있는 print()  중간에 줄 띄기 할 때 사용
print()

In [8]:
print('-'*25)
print()
print()
print('-'*25)

-------------------------


-------------------------

# 6-2. 숫자 자료형들 (자료형 (1))

In [9]:
# [Tip] 자료형을 찍을 때 쓰는 함수 : type()
type(0)

int

In [10]:
type(0.0)

float

# 6-3. 숫자 연산해보기 (자료형 (1))

덧셈, 뺄셈, 곱셈, 나누기, 제곱 연산 해보기

특별한 연산인 나누고 몫만 남기기, 나누고 나머지만 남기기 연산 해보기

정수형, 실수형끼리 교차로 가능

숫자 연산자

+ : 덧셈

- : 뺄셈

* : 곱셈

/ : 나눗셈

// : 나눗셈 몫 (정수형)

% : 나눗셈 나머지

** : 제곱

In [11]:
# 정수 + 정수
1 + 2

3

In [12]:
# 실수 + 실수
1.0 + 2.0

3.0

In [13]:
# 정수 + 실수
1 + 2.0

3.0

In [14]:
# 다른 연산자도 가능
2.0 ** 3

8.0

In [15]:
# 변수에 숫자를 할당하고 계산해보기
a = 5  # 번역 : a에 5를 할당한다.
b = 4  # 번역 : b에 4를 할당한다.
a * b  # 번역 : a와 b를 곱하라

20

In [16]:
# 원래 대입식
a = 7
a = a + 1
print(a)

8

In [17]:
# 복합 대입 연산자
a = 7
a += 1
print(a)

8

In [18]:
# 다른 연산자도 가능
b = 5
b *= 2
print(b)

10

In [19]:
c = 10
c //= 3 # 나누기 몫(//),  나머지(%)
print(c)

3

In [20]:
d = 3
d **= 4
print(d)

81

# 6-4. 문자열 자료형 (자료형 (1))

문자열 만드는 4가지 방법

(1) 큰 따옴표(")에 둘러싸기

(2) 작은 따옴표(')에 둘러싸기

(3) 큰 따옴표 연속 3개(""")에 둘러싸기

(4) 작은 따옴표 연속 3개(''')에 둘러싸기

In [21]:
"안녕하세요, 저는 김인유입니다."

'안녕하세요, 저는 김인유입니다.'

In [22]:
'일곱'

'일곱'

In [23]:
# 숫자형에도 따옴표를 둘러싸면 문자열이 된다.
# 자료형 확인
type(7), type('7')

(int, str)

In [24]:
"""월을"""

'월을'

In [25]:
type("""월을""")

str

In [26]:
'''좋아해요'''

'좋아해요'

In [27]:
type('''좋아해요''')

str

문자열 자료형 만드는데 여러가지 방법이 필요한 이유

1. 여러 줄인 문자열을 변수에 대입하고 싶을 때

  (1) 연속된 작은 따옴표 3개 또는 큰 따옴표 3개를 사용

  (2) 이스케이프 코드(확장열) 사용하기

In [28]:
# 작은 따옴표 3개로 감싸기
multiline = '''
Only I can change my life,
no one can do it for me.'''

print(multiline)

Only I can change my life,
no one can do it for me.

In [29]:
# 큰 따옴표 3개로 감싸기
multiline = """Only
I can change my life,
no one can do it
for me."""

print(multiline)

Only
I can change my life,
no one can do it
for me.

In [30]:
# `\n` : 줄 바꿈 이스케이프 코드
multiline = 'Only I can change my life,\nno one can do it for me'

print(multiline)

Only I can change my life,
no one can do it for me

2. 문자열 안에 작은 따옴표나 큰 따옴표를 포함시키고 싶을 때

  (1) 겹치지 않는 따옴표로 둘러싸기

  (2) 이스케이프 코드(확장열) 사용하기

  Don't dwell on the past.의 문자열을 present 변수에 저장 하려고 합니다.

  이럴 때는 작은 따옴표를 포함하고 있는 문자열이기 때문에 큰 따옴표로 둘러싸야 합니다.

In [31]:
# 작은 따옴표를 포함한 문자열을 큰 따옴표로 둘러싸기
present = "Don't dwell on the past."

print(present)

Don't dwell on the past.

In [32]:
# 큰 따옴표를 포함한 문자열은 작은 따옴표로 둘러싸기
answer = '"Do not worry!"'

print(answer)

"Do not worry!"

In [33]:
#큰 따옴표와 작은 따옴표 둘 다 나타내고 싶을 때는 아까처럼 이스케이프 코드를 사용하면 됩니다.
answer = '\"Don\'t worry!\"'

print(answer)

"Don't worry!"

3. 이스케이프 코드

이스케이프 코드(확장열)은 프로그래밍을 할 때 문자열 안에 담기 힘든 문자를 사용할 수 있도록 미리 정의해 둔 문자 조합.

이스케이프 코드, 확장열 또는 Escape Sequence 라고 함.

\n 문자열 안에서 줄을 바꿀 때 사용 (개행할 때)

\' 작은 따옴표

\" 큰 따옴표

\\ \문자

\t 문자열 사이에 탭 간격을 줄 때 사용

행끝 +\  이전 줄과 이후 줄이 하나의 문자열로 정의

In [34]:
# `\t` 예시
tabline = 'thirty\tone'
print(tabline)

thirty	one

In [35]:
# `\` 예시
# 가독성이 좋게 3줄로 표시되어 있지만
# 한 줄의 문자열로 정의된다.
s = '동짓달 기나긴 밤을 한 허리를 베어내어 \
봄바람 이불 아래 서리서리 넣었다가 \
정든 임 오신 날 밤이거든 굽이굽이 펴리라'

print(s)

동짓달 기나긴 밤을 한 허리를 베어내어 봄바람 이불 아래 서리서리 넣었다가 정든 임 오신 날 밤이거든 굽이굽이 펴리라

# 6-5. 문자열 다루기 (자료형 (1))

(1) 문자열 더하기 (= 문자열 연결하기)

문자열에서 +연산자는 더하기 보다 연결의 의미

In [36]:
head = '꾸준히'
tail = 'python'

print(head + tail)

꾸준히python

In [37]:
# 공백도 더하기도 더해줄 수 있다.
print(head + ' ' + tail)

꾸준히 python

(2) 문자열 곱하기

In [38]:
print('hey' * 10)

heyheyheyheyheyheyheyheyheyhey

In [39]:
print('hey ' * 10)

hey hey hey hey hey hey hey hey hey hey

In [40]:
# 모든 문자열을 곱할 수 있다.
print('=' * 50)
print('My Assignment')
print('=' * 50)

==================================================
My Assignment
==================================================

(3) 정수와 문자열을 더할 수 있을까?

+ 연산자는 피연산자의 타입을 판별하여 숫자에 대해서는 덧셈을 하고 문자열에 대해서는 연결을 함.

그렇다면 숫자와 문자열 사이에 + 연산자를 넣으면 어떻게 될까?

In [41]:
# `ctrl + /`으로 주석을 풀고 실행시켜보자
# a = 7
# b = 'lucky'
# print(a + b)
# str과 int는 더할 수 없다고 에러가 뜸.
# 즉 숫자와 문자열 사이에서는 + 연산자를 쓸 수 없슴.
# 그런데도 쓰고 싶다면 자료형을 일치시키고 쓸 수 있음.
a = 7
b = 'lucky'
print(str(a) + b)

7lucky

In [42]:
# 자료형 일치
print(str(1988) + ' Seoul Olympic')

1988 Seoul Olympic

(4) 문자열 길이 구하기

정말 자주 쓰임.  

len() 함수를 사용.

In [43]:
a = 'life'
len(a)

4

In [44]:
# 공백 포함한 길이를 구한다.
a = ' life '
len(a)

6

(5) 문자열 인덱싱

인덱싱(Indexing)은 무엇인가를 가리킨다는 의미

인덱싱의 번호를 주의하자

[ ]괄호 안에 인덱싱 번호를 넣어서 인덱싱할 수 있다.

0과 -0은 똑같기 때문에 a[0]와 a[-0]은 동일한 값을 보여준다.

문자열이 길 때, 뒤에서 세는 인덱싱을 자주 사용한다.

In [45]:
# a[0]와 a[-0]은 동일한 값
a = 'python'
a[0], a[-0]

('p', 'p')

In [46]:
# 문자열이 길 때, 뒤에서 세는 인덱싱을 자주 사용한다.
a = 'Where there is a will there is a way'
a[-3]

'w'

(6) 문자열 슬라이싱

슬라이싱(Slicing)은 무엇인가를 잘라낸다는 의미

한 문자가 아닌 단어를 뽑아낼 수 있음.

a[시작 번호:끝 번호+1]로 잘라냄.

인덱싱과 마찬가지로 마이너스 기호를 사용할 수 있음.

슬라이싱 앞부분을 생략하면 처음부터 뽑아냄.

슬라이싱 뒷부분을 생략하면 끝까지 뽑아냄..

In [47]:
# a[시작 번호:끝 번호+1]로 잘라낸다.
# 0부터 4까지 슬라이싱 하고 싶으면 [0:5]로 표시해야 된다.
a = 'Where there is a will there is a way'
a[0:5]

'Where'

In [48]:
# 음수일때도 마찬가지
a = 'Where there is a will there is a way'
a[-8:-6]

'is'

In [49]:
# 슬라이싱 앞부분을 생략하면 처음부터 뽑아낸다.
a = 'Where there is a will there is a way'
a[:5]

'Where'

In [50]:
# 슬라이싱 뒷부분을 생략하면 끝까지 뽑아낸다.
a = 'Where there is a will there is a way'
a[-3:]

'way'

(7) 문자열 바꾸기

문자열 안의 문자열을 다른 문자열을 바꿀 때는 replace()함수를 사용.

'기존문자열, replace('바꿀문자열', '새문자열')'

In [51]:
a = 'Hello, world!'
b = a.replace('world', 'Python')
b

'Hello, Python!'

# 7-2. 리스트 자료형 (자료형 (2))

(1) 리스트(list)란?

개별 변수는 정수면 정수, 실수면 실수 식으로 하나의 값만 저장하는 데 비해 리스트는 여러 개의 값을 순서가 있는 모음으로 저장함.

대괄호[] 안에 요소를 콤마,로 구분.

리스트명 = [요소1, 요소2, 요소3, ...]

리스트에 소속되는 각각의 값을 요소(element) 라고 부름.

리스트 안에는 어떠한 자료형도 포함시킬 수 있으며, 비어 있는 리스트로 생성할 수 있음.

In [52]:
# 리스트 안에는 어떠한 자료형도 포함시킬 수 있다.
a = [1, 2, 3]
b = ['AIFFEL', '화이팅']
c = [1, 2, 'AIFFEL', '화이팅']
d = [1, 2, ['AIFFEL', '화이팅']]

In [53]:
# 비어 있는 리스트로 생성할 수 있다.
e = []

In [54]:
# list() 함수를 사용해서 빈 리스트를 만들 수 있다.
f = list()
f

[]

(2) 리스트의 인덱싱 & 슬라이싱

문자열 때 배웠던 인덱싱 & 슬라이싱이 리스트에서도 가능.

문자열 인덱싱 & 슬라이싱과 동일한 방법으로 다룰 수 있으며, 리스트 안에 element인 리스트도 인덱싱할 수 있음.

In [55]:
# 문자열과 동일하게 인덱싱
a = [1, 2, 3, 4, 5]
a[4]

5

In [56]:
a[-1]

5

In [57]:
# 리스트 안에 element인 리스트도 인덱싱할 수 있다.
a = [1, 2, ['AIFFEL', '화이팅'], 3, 4]
a[2]

['AIFFEL', '화이팅']

In [58]:
# 'AIFFEL'만 인덱싱 할 수 있다.
a[2][0]

'AIFFEL'

In [59]:
# 아래 변수 a와 슬라이싱을 활용하여 b, c, d를 만들어봐요.
a = [1,2,3,4,5]
# 변수 b에 리스트 [1,2,3]를 담아봐요.
b = a[:3]
# 변수 c에 리스트 [3,4]를 담아봐요.
c = a[2:4]
# 변수 d에 리스트 [3,4,5]를 담아봐요.
d = a[2:]

print(b)
print(c)
print(d)

[1, 2, 3]
[3, 4]
[3, 4, 5]

(3) 리스트 연산하기

리스트 연산은 문자열 연산의 의미와 동일.

리스트 사이의 더하기(+) 연산자는 리스트를 합치고, 리스트 사이의 곱셈(*) 연산자는 리스트를 반복하고, 리스트 요소의 개수는 len() 함수를 이용해서 구할 수 있음.

In [60]:
# 리스트 사이의 더하기(+) 연산자는 리스트를 합친다.
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list1 + list2

[1, 2, 3, 'a', 'b', 'c']

In [61]:
# 리스트 사이의 곱셈(*) 연산자는 리스트를 반복한다.
list2 * 2

['a', 'b', 'c', 'a', 'b', 'c']

In [62]:
# 리스트 요소의 개수는 len() 함수를 이용해서 구할 수 있다.
len(list2 * 2)

6

(4) 리스트의 수정 & 삭제(del)

리스트의 요소는 수정(교체)할 수 있음.

리스트[인덱스] = 새 요소
예약어 del 을 이용해서 리스트 요소를 삭제할 수 있음

del 객체

예약어는 특정 기능을 수행하도록 미리 예약되어 있는 단어이며, 함수와는 다름.

In [63]:
# 리스트의 요소는 수정(교체)할 수 있다.
a = ['a', 'b', 7, 'd']
a[2] = 'c'
a

['a', 'b', 'c', 'd']

In [64]:
# 예약어 del 을 이용해서 리스트 요소를 삭제할 수 있다.
a = ['a', 'b', 7, 'd']
del a[2]
a

['a', 'b', 'd']

# 7-3. 리스트 관련 함수들

1) 추가(append(x))

2) 정렬(sort())

(3) 뒤집기(reverse())

(4) 위치 반환(index(x))

(5) 요소 삽입(insert(a, b))

(6) 요소 제거(remove(x))

(7) 요소 끄집어내기(pop())

(8) 특정 개수 세기(count(x))

(9) 리스트 확장(extend(x))

(1) 추가 (append(x))

In [65]:
# 리스트 맨 마지막에 x를 추가하는 함수
a = [1, 3, 5]
a.append(7)
a

[1, 3, 5, 7]

In [66]:
# 요소는 위에서 설명한 것처럼 모든 자료형이 가능하다
a.append([2, 4, 6, 8, 10])
a

[1, 3, 5, 7, [2, 4, 6, 8, 10]]

In [67]:
# 하지만 여러 요소를 넣으면 에러가 뜬다.
# [window] : `ctrl + /`, [mac] : `command + /` 를 눌러서 주석을 풀고 실행해보자.

a.append(9)
a.append(11)
a

[1, 3, 5, 7, [2, 4, 6, 8, 10], 9, 11]

(2) 정렬 (sort())

In [68]:
# sort 함수는 괄호 안에 아무것도 넣지 않는다.
a = [5, 2, 3, 4, 1]
a.sort()
a

[1, 2, 3, 4, 5]

(3) 뒤집기(reverse())

In [69]:
# reverse 함수는 괄호 안에 아무것도 넣지 않는다.
a = ['h', 'e', 'l', 'l', 'o']
a.reverse()
a

['o', 'l', 'l', 'e', 'h']

(4) 위치 반환(index(x))

In [70]:
# index(x) 함수는 리스트에 x가 있으면 x의 위치 값을 돌려준다.
a = ['h', 'e', 'l', 'l', 'o']
a.index('e')

1

In [71]:
# 중복인 요소가 있을 때 확인해보기

a = ['h', 'e', 'l', 'l', 'o']
a.index('l')

2

In [72]:
# 없는 요소를 x에 있을 때 확인해보기
# [window] : `ctrl + /`, [mac] : `command + /` 를 눌러서 주석을 풀고 실행해보자.

a = ['h', 'e', 'l', 'l', 'o']
try:
    index_of_b = a.index('b')
    print(f"The index of 'b' is: {index_of_b}")
except ValueError:
    print("'b' is not in the list.")

'b' is not in the list.

(5) 요소 삽입(insert(a, b))

In [73]:
# insert(a, b)는 a번째 위치에 b 요소를 삽입한다.
# 위치 인덱스는 0 부터 센다는 것을 잊지 말자.
a = [1, 3, 5, 7, 9]
a.insert(5, 11)
a

[1, 3, 5, 7, 9, 11]

(6) 요소 제거(remove(x))

In [74]:
# remove(x)는 요소 x를 삭제한다.
a = ['e', 'x', 't', 'e', 'n', 'd']
a.remove('x')
a

['e', 't', 'e', 'n', 'd']

In [75]:
# 중복인 요소가 있을 때 확인하기
# [window] : `ctrl + /`, [mac] : `command + /` 를 눌러서 주석을 풀고 실행해보자.

a = ['e', 'x', 't', 'e', 'n', 'd']
a.remove('e')
a

['x', 't', 'e', 'n', 'd']

(7) 요소 끄집어내기(pop())

In [76]:
# pop()은 리스트 맨 마지막 요소를 반환하고 그 요소는 삭제한다.
a = [1, 2, 3]
a.pop()

3

In [77]:
# pop() 함수 이후에 제거 되었는지 확인
a

[1, 2]

(8) 특정 개수 세기(count(x))

In [78]:
# count(x)는 리스트 안에 요소 x가 몇 개 있는지 개수를 세고 그 개수를 반환한다.
a = ['h', 'e', 'l', 'l', 'o']
a.count('l')

2

(9) 리스트 확장(extend(x))

In [79]:
# extend(x)에서 리스트 x를 기존 리스트에 연결한다.
# x는 리스트만 올 수 있다.
a = [1, 2, 3]
a.extend([4, 5, 6])
a

[1, 2, 3, 4, 5, 6]

In [80]:
# a.extend(b) 는 a += b 와 동일하다.
a = [1, 2, 3]
b = [4, 5, 6]
a += b
a

[1, 2, 3, 4, 5, 6]

# 7-4. 튜플 자료형 (자료형 (2))

(1) 튜플(tuple)이란?
여러 개의 값의 모음이라는 점에서 리스트와 비슷하지만 수정할 수 없다는 점에서 다름.

소괄호() 안에 요소를 콤마,로 구분해 줌.

튜플명 = (요소1, 요소2, 요소3, ...)

소괄호()를 생략해도 무방함.

튜플명 = 요소1, 요소2, 요소3, ...

튜플에 소속되는 각각의 값 또한 요소(element) 라고 함.
튜플 안에는 어떠한 자료형도 포함시킬 수 있으며, 비어 있는 튜플도 생성할 수 있음.


(2) 튜플에서 가능한 것과 불가능한 것
가능한 것

튜플 요소를 인덱싱 & 슬라이싱할 수 있음.

+ 연산자로 튜플을 연결할 수 있고, * 연산자로 튜플을 반복할 수 있음.

In [81]:
# 튜플 요소를 인덱싱 & 슬라이싱할 수 있다.
tu1 = 1, 2, 3, 4, 5
tu1[0]

1

In [82]:
tu1[:3]

(1, 2, 3)

In [83]:
# + 연산자로 튜플을 연결할 수 있다.
tu1 = 1, 2, 3, 4, 5
tu2 = 6, 7, 8, 9
tu1 + tu2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [84]:
# * 연산자로 튜플을 반복할 수 있다.
tu1 = 1, 2, 3, 4, 5
tu1 * 2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

불가능한 것

튜플 요소를 변경하거나 삭제하는 것은 불가능합니다.

In [85]:
# 튜플 요소는 변경이 불가능하다.
# [window] : `ctrl + /`, [mac] : `command + /` 를 눌러서 주석을 풀고 실행해보자.

tu1 = (2, 4, 6)
# tu1[0] = 1  # This line will raise a TypeError because tuples are immutable.
# Explanation: Tuples cannot be modified after creation.
# If you need to change data, you would typically create a new tuple.
new_tu1 = (1,) + tu1[1:] # Example of creating a new tuple with a changed first element
print(f"Original tuple: {tu1}")
print(f"Attempted change (causes error): tu1[0] = 1")
print(f"New tuple with modified element (by creating a new tuple): {new_tu1}")

Original tuple: (2, 4, 6)
Attempted change (causes error): tu1[0] = 1
New tuple with modified element (by creating a new tuple): (1, 4, 6)

In [86]:
# 튜플 요소는 삭제가 불가능하다.
# [window] : `ctrl + /`, [mac] : `command + /` 를 눌러서 주석을 풀고 실행해보자.

tu1 = (2, 4, 6)
# The following line will raise a TypeError because tuples are immutable
# del tu1[0]
# Explanation: Tuple objects do not support item deletion after creation.
# If you need a sequence that can be modified, use a list instead.
# If you need a tuple with some elements removed, you would typically create a new tuple
# by slicing or other methods, effectively creating a copy without the desired elements.
print(f"Original tuple: {tu1}")
print("Attempting to delete an element from a tuple will raise a TypeError.")
# Example of creating a new tuple without the first element:
new_tu1_without_first = tu1[1:]
print(f"New tuple without the first element (created by slicing): {new_tu1_without_first}")

Original tuple: (2, 4, 6)
Attempting to delete an element from a tuple will raise a TypeError.
New tuple without the first element (created by slicing): (4, 6)

(3) 튜플을 사용하는 이유

튜플로 가능한 일은 리스트에서 모두 가능하나,오히려 리스트에서 가능한 것이 튜플에서는 불가능한 것들이 있음.

그럼에도 불구하고 굳이 튜플을 사용하는 이유는, 튜플의 내부 구조가 단순한 만큼 더 적은 메모리를 사용하고 읽는 속도도 빠르기 때문.  (편집할 수 없기 때문에 안정적)

# 8-2. 딕셔너리 자료형 (자료형 (3))

(1) 딕셔너리(Dictionary)란?

딕셔너리는 키(Key)와 값(Value)의 쌍을 저장하는 대용량의 자료구조

파이썬이 아닌 다른 언어에서도 이런 대응 관계를 가지는 자료형을 갖고 있는데,
이를 연관 배열 또는 해시(Hash)라고 함.

딕셔너리의 가장 큰 특징은 리스트나 튜플처럼 순차적으로(=인덱스로) 요소를 꺼낼 수 없고 Key를 통해 Value를 얻는 것.

순차적으로 꺼내지 못하니 요소들의 순서는 의미가 없음..(=순서가 달라져도 동일한 딕셔너리이다.)

중괄호{} 안에 Key:Value 형태를 넣고 콤마,로 구분해 줌.

딕셔너리명 = {Key1:Value1, Key2:Value2, Key3:Value3, ...}

키(Key)는 중복되면 안 되고, 값(Value)은 중복되어도 상관 없음.

In [87]:
# 중괄호{} 안에 Key:Value 형태를 넣고 콤마,로 구분
# 순서가 달라져도 동일한 딕셔너리이다.
dic = {'apple':'사과', 'orange':'오렌지', 'melon':'멜론', 'num':8}
dic

{'apple': '사과', 'orange': '오렌지', 'melon': '멜론', 'num': 8}

In [88]:
# 키(Key)는 중복되면 안 되고, 값(Value)은 중복되어도 상관 없다.
# 중복되는 키가 있을 때 확인해보기
# 중복되는 key가 있으면 하나를 제외한 나머지 것들이 모두 무시됨
dic = {'apple':'사과', 'orange':'오렌지', 'melon':'멜론', \
        'num':8, 'apple':'꿀사과', 'num_2':8}
dic

{'apple': '꿀사과', 'orange': '오렌지', 'melon': '멜론', 'num': 8, 'num_2': 8}

# 8-3. 딕셔너리 관련 함수 (자료형 (3))

딕셔너리 함수 & 예약어

keys() : Key 리스트 만들기

values() : Value 리스트 만들기

items() : Key:Value 쌍 얻기

clear() : Key:Value 쌍 모두 지우기

get() : Key로 Value얻기

in : 해당 Key가 딕셔너리 안에 있는지 조사하기

In [89]:
# keys()
dog = {'name':'규봉이', 'breed':'진돗개', 'color':'brown'}
dog.keys()

dict_keys(['name', 'breed', 'color'])

In [90]:
# values()
dog = {'name':'규봉이', 'breed':'진돗개', 'color':'brown'}
dog.values()

dict_values(['규봉이', '진돗개', 'brown'])

In [91]:
# items()
dog = {'name':'규봉이', 'breed':'진돗개', 'color':'brown'}
dog.items()

dict_items([('name', '규봉이'), ('breed', '진돗개'), ('color', 'brown')])

In [92]:
# clear()
dog = {'name':'규봉이', 'breed':'진돗개', 'color':'brown'}
dog.clear()
dog

{}

딕셔너리 쌍이 모두 지워졌다.

= 빈 딕셔너리가 됐다.

≠ 딕셔너리가 없어졌다.

혼동하지 않도록 주의해야 합니다.

In [93]:
# get()
dog = {'name':'규봉이', 'breed':'진돗개', 'color':'brown'}
dog.get('name')

'규봉이'

In [94]:
# dog.get('name') 와 dog['name'] 은 동일한 결과값을 냅니다.

# in 은 Key만 확인 가능하다.
dog = {'name':'규봉이', 'breed':'진돗개', 'color':'brown'}
'name' in dog

True

In [95]:
# value 도 넣어보기
'규봉이' in dog

False

# 8-4. 집합(set) 자료형 (자료형 (3))

(1) 집합(set)이란?

수학 시간에 배운 집합과 같은 집합.

어떤 값들의 모임일 뿐 순서는 없음 (=순서가 달라져도 동일한 집합이다.)

중괄호{} 안에 value를 넣고 콤마,로 구분해 줌.

집합명 = {value1, value2, value3, ...}

set() 괄호 안에 리스트나 문자열을 입력해서 만들 수도 있음.
집합은 값을 포함하고 있느냐 아니냐만 중요해서, 중복은 허락하지 않으며 순서도 별 의미 없음

In [96]:
# 중괄호{} 안에 value를 넣고 콤마,로 구분해 준다.
# 중복은 허락되지 않는다.
asia = {'korea', 'china', 'japan', 'korea'}
asia

{'china', 'japan', 'korea'}

In [97]:
# 중복을 허용하지 않는 특징을 활용해서 중복 제거하기위한 필터 역할로 종종 사용 합니다.
# set() 활용
# 빈 집합 만들기
a = set()
a

set()

In [98]:
# 빈 딕셔너리와 혼동을 주의하자.
a = {}
type(a)

dict

In [99]:
# set() 활용
# 문자열 넣어보기
a = set('hello')
a

{'e', 'h', 'l', 'o'}

In [100]:
# set() 활용
# 리스트 넣어보기
a = set([1, 2, 3])
a

{1, 2, 3}

In [101]:
# set() 활용
# 튜플 넣어보기
a = set((11, 13, 15))
a

{11, 13, 15}

In [102]:
# set() 활용
# 딕셔너리 넣어보기
a = set({'name':'규봉이', 'breed':'진돗개', 'color':'brown'})
a

#key만 집합의 요소가 되어 나옴

{'breed', 'color', 'name'}

(2) 집합 연산

합집합 | unoion()  두 집합의 모든 원소

교집합 & intersection()  두 집합에 모두 있는 원소

차집합 - difference()  왼쪽 집합 원소 중 오른쪽 집합 원소를 뺀 것

배타적 차집합 ^ symmetric_difference()  한쪽 집합에만 있는 원소의 합

In [103]:
a = {2, 4, 6, 8, 10, 12}  # 2의 배수
b = {3, 6, 9, 12, 15}     # 3의 배수

In [104]:
# 합집합 기호
a|b

{2, 3, 4, 6, 8, 9, 10, 12, 15}

In [105]:
# 합집합 함수
a.union(b)

{2, 3, 4, 6, 8, 9, 10, 12, 15}

In [106]:
# 교집합 기호
a&b

{6, 12}

In [107]:
# 교집합 함수
a.intersection(b)

{6, 12}

In [108]:
# 차집합 기호
a-b

{2, 4, 8, 10}

In [109]:
# 차집합 함수
a.difference(b)

{2, 4, 8, 10}

In [110]:
# 배타적 차집합 기호
a^b

{2, 3, 4, 8, 9, 10, 15}

In [111]:
# 배타적 차집합 함수
a.symmetric_difference(b)

{2, 3, 4, 8, 9, 10, 15}

(3) 집합 관련 함수

add() : 원소 한 개 추가하기

update() : 원소 여러 개 추가하기

remove() : 특정 값 한 개 제거하기

In [112]:
# add()
a = {1, 2, 3}
a.add('넷')
a

{1, 2, 3, '넷'}

In [113]:
# udate()
a = set([6, 5, 4])
a.update({1, 3, 2})
a

{1, 2, 3, 4, 5, 6}

In [114]:
# remove()
a = {1, 2, 3, 4, 5, 6}
a.remove(2)
a

{1, 3, 4, 5, 6}

# 8-5. 불(bool) 자료형 (자료형 (3))

(1) 불(bool)이란?

불린(boolean)의 약자로 불(bool)로 부르기도 한다.

불(bool) 자료형은 참(True)와 거짓(False) 딱 두 가지 상태만을 표현하는 타입

True, False의 첫 자가 대문자임을 유의해야 하며, true, false 소문자로 적으면 불 자료형이 아님.

조건문의 반환 값으로도 사용됨.

https://docs.python.org/3/library/stdtypes.html#

In [115]:
# type 확인해보기
a = True
type(a)

bool

In [116]:
# 따옴표로 감싸지 않은 문자열을 변수에 할당해서 오류가 발생할 것 같지만. 불 자료형으로 인식하기 때문에 잘 실행됩니다.

# 소문자로 적은 true 확인해보기
# b = true
# type(b)   틀린 함수임

In [117]:
# 5가 4보다 큰지 물어보는 조건문이다.
5 > 4

True

(2) 자료형의 참과 거짓

파이썬 자료형은 참과 거짓이 분명하게 있음.

불 타입을 확인할 때는 bool() 함수를 이용해서 할 수 있음.

In [118]:
# 자료형 불 타입 확인해보기
bool(0.0)

False

In [119]:
# 스스로 확인해보고 싶은 자료형 불 타입 확인해보기
bool()

False

# 8-6. 변수 (자료형 (3))

(1) 변수란?

우리는 이때까지 자료형을 공부하면서 이미 변수를 사용해 왔는데, 이번에는 변수를 중심으로 알아보는 section.

변수를 만들 때는 =(assignment) 기호를 사용함.

변수명 = 변수에 저장할 값

In [120]:
#  변수명 = 변수에 저장할 값
aiffel = 'modu'

(2) 변수명의 규칙

영문자(대, 소문자 구분), 숫자, 언더바(_)만 사용 가능

첫 자리에는 숫자를 사용할 수 없으며, 예약어(파이썬 키워드)는 변수명으로 사용할 없음.

In [121]:
# 영문자(대, 소문자 구분), 숫자, 언더바(_)만 사용 가능
List_01 = [1, 3, 5]
list_01 = [2, 4, 6]

List_01

[1, 3, 5]

In [122]:
list_01

[2, 4, 6]

In [123]:
# 첫 자리에는 숫자를 사용할 수 없다.
# 주석을 풀어서 확인해보기
# 첫 자리에는 숫자를 사용할 수 없다.
# 주석을 풀어서 확인해보기
# 00dic = {1:11, 2:22}
# 00dic
_00dic = {1:11, 2:22}
_00dic

{1: 11, 2: 22}

In [124]:
# 예약어(파이썬 키워드)는 변수명으로 사용할 수 없다.
# 주석을 풀어서 확인해보기
# True = set("aiffel")
# True
# True는 예약어이므로, 코드가 작동안함.

(3) 변수를 만드는 여러 가지 방법

In [125]:
# 아무 괄호가 없다면 => 튜플
# 튜플로 변수에 값을 할당할 수 있다.
a, b, c = 11, 22, 33
b

22

In [126]:
# 리스트로도 가능
[d, e] = ['Hello', 'world']
d

'Hello'

In [127]:
# 여러 개의 변수에 같은 값을 할당할 수 있다.
f = g =  True
f

True

In [128]:
# 위의 방법을 사용해서 두 변수의 값을 간단히 바꿀 수 있다.
a = 'Hello, python world'
b = 10
a, b = b, a  # 읽고 이해할 수 있는 지 스스로 생각해보기
a, b

(10, 'Hello, python world')

# 9-2. 연산자 (조건문)

(1) 비교 연산자

조건식에서는 주로 변수값을 비교하는 문장이 오며, 변수가 특정 값인지 평가함.

이때 비교 연산자는 두 값의 상등 여부나 대소관계를 비교하게 됨.

그래서 두 연산자를 비교하는 비교연산자를 알아야함.

In [129]:
# =기호는 대입 연산자 이고, ==는 비교 연산자 임.
# ==는 좌변, 우변이 같으면 True를 리턴하고 다르면 False를 리턴합니다.
8 == 9

False

In [130]:
# != 같지 않다
8 != 9

True

In [131]:
# =!
# 순서가 바껴도 코드가 돌아갈지 확인해봅시다.
# 8 =! 9
# 코드 작동안함

(2) 논리 연산자

두 개 이상의 조건을 점검할 때는 논리 연산자를 사용해봄.

In [132]:
# True and True 일 때
3 >= 1 and 3 >= 2

True

In [133]:
# False and True 일 때
3 >= 1 and 3 >= 4

False

In [134]:
# False and True 일 때
3 >= 1 and 3 >= 4

False

In [135]:
# not True -> False
not 3 > 1

False

In [136]:
# not False -> True
not 3 > 5

True

(3) 기타 연산자

In [137]:
# 리스트 확인해보기
1 in [1, 3, 5, 7, 9]  # 번역 : [1, 3, 5, 7, 9] 안에 1이 있는가?

True

In [138]:
1 not in [1, 3, 5, 7, 9]  # 번역 : [1, 3, 5, 7, 9] 안에 1이 있는가?

False

In [139]:
# 튜플 확인해보기
'a' not in ('a', 'i', 'f', 'f', 'e', 'l')

False

In [140]:
# 문자열 확인해보기
'y' in 'python'

True

# 9-3. if 조건문 (조건문)

(1) if문 기본 구조

if문은 조건의 진위 여부에 따라 포함된 문장의 수행 여부를 제어함.   기본구조는 아래와 같음.

if 조건:
    수행할 문장

제일 앞에 키워드 if를 쓰고 점검할 조건과 콜론을 찍고, 그 다음 줄에 tab 또는 스페이스 4번을 띄어쓰고, 조건이 참일 때 수행할 문장을 작성.

조건이 거짓이면 수행할 문장을 무시하고 지나치게 됨.

In [141]:
# 0이 아닌 숫자는 True
if 1:
    print('조건이 참이니까 출력')

조건이 참이니까 출력

In [142]:
# 0은 False
if 0:
    print('과연 이건 출력이 될 것인가')

# 출력안됨

(2) 블럭 구조

조건이 참일 때, 수행할 문장이 2개 이상일 때 아래에 명령을 나열합니다.

if 조건:

    수행할 문장1

    수행할 문장2

    수행할 문장3

   
이 처럼 들여쓰기는 맞춰서 쓴 구조를 블럭 구조라고 함

In [143]:
# 블럭 구조 if문 예시
num = 10
if num > 5:
    print('num는')
    print('5보다')
    print('큽니다.')

num는
5보다
큽니다.

In [144]:
# 블럭 구조를 지키 않았을 때를 확인해보자
# num = 10
# if num > 5:
#     print('num는')
# print('5보다')
#     print('큽니다.')

# 코드 작동 안함

(3) if문 예시

In [145]:
# if문 예시
a = 7
if a == 7:
    print("Lucky!")

Lucky!

# 9-4. else 사용하기 (조건문)

(1) else문

if문 예시

a = 7

if a == 7:

    print("Lucky!")

위의 단순한 if문은 참일때 문장을 수행하고 거짓이면 아무것도 하지 않았음.

이번에 배울 else문을 활용하면 조건문이 거짓일 때 다른 문장을 수행할 수 있음.

(2) else문 블럭 구조

else문 블럭 구조는 if문과 동일하나, 단, if문 이후에 쓰여야 작동한다는 것만 주의하면 됨.

if 조건:

    수행할 문장1

    수행할 문장2

else:

    수행할 문장3

    수행할 문장4

(3) if else문 예시
내 점수는 90점이고 점수가 65점 이상이면 합격,
미만이면 불합격이라는 단어를 출력하는 코드를 함께 확인하는 코드

In [146]:
# if else문 예시
score = 90
if score >= 65:
    print('합격')
else:
    print('불합격')

합격

# 9-5. elif 사용하기 (조건문)

(1) elif문

if else문을 더 확장하면 elif문이 중간에 들어감.

if문의 조건을 만족하지 않을 때 elif문의 다른 세부 조건을 점검할 수 있음.

if 조건_1:

    수행할 문장1

    수행할 문장2

elif 조건_2:

    수행할 문장3

    수행할 문장4    

else:

    수행할 문장5

    수행할 문장6

구조는 이때까지 본 것과 동일하니, 순서에만 유의!

if → elif → else

In [147]:
money = int(input('현재 돈이 얼마인지?'))
if money >= 16000:
    print('택시도 타고, 커피도 사먹는다.')
elif money >= 12000:
    print('커피는 포기하고 택시를 탄다.')
elif money >= 5300:
    print('아메리카노 사고 버스에 탄다.')
else:
    print('목이 마른건 참고 버스를 탄다.')

현재 돈이 얼마인지?5000
목이 마른건 참고 버스를 탄다.

# 9-6. 조건문 연습하기 (조건문)

(1) if 조건문

1번 문제
자연수 x가 짝수일때만 '짝수입니다'를 출력.

In [148]:
x = 4
if x%2==0:  # x가 짝수인지 확인하는 조건
    print('짝수입니다')

짝수입니다

(2)코드에서 홀수인지 짝수인지 확인할 때 흔히 쓰이는 방법은 2로 나눴을 때 나머지를 확인하는 방법.

% 연산자는 나누기를 하고 나머지만 출력하는 연산자.

In [149]:
6 % 4

2

그래서 x % 2 가 0인지 1인지를 확인하면 홀, 짝을 알 수 있음

(2) else 사용하기

자연수 x가 짝수일 때는 '짝수입니다'를, 홀수일 때는 '홀수입니다'를 출력

In [150]:
x = 5
if x % 2 == 0:
    print('짝수입니다')
else:
    print('홀수입니다')

홀수입니다

(3) elif 사용하기

자연수 x가 10의 배수인지, 2 또는 5의 배수인지, 2와 5 둘 다의 배수가 아닌지 확인

In [151]:
x = 7
if x % 10 == 0:
    print('10의 배수입니다')
elif x%2==0 or x%5==0:
    print('2 또는 5의 배수입니다')
else:
    print('2 와 5의 배수가 아닙니다.')

2 와 5의 배수가 아닙니다.

# 10-2. while 반복문 (조건문)

(1) while문 기본 구조

반복문은 유사한 명령을 계속 수행하는 제어문

while 조건:

    수행할 문장

if 키워드 대신에 while을 쓰면 됨.

In [152]:
# 1~10까지 출력하는 코드를 while문으로
num = 1
while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

(2) while문 만들고 번역하기

등차 수열의 합 while 문을 활용해서 1부터 10까지 더하는 코드

In [153]:
# 등차 수열의 합
num = 1
sum = 0
while num <= 10:
    sum += num
    num += 1
print(sum)

55

num, sum의 변수에 먼저 숫자를 할당주었는데, 그렇지 않으면 다음에 나오는 while문에서 변수가 존재하지 않는다는 오류가 뜨게됨.

(3) while문 강제로 빠져나가기

반복문은 조건을 만족하는 동안 반복문 안의 내용을 계속 실행함.

하지만 중간에 반복을 중지하거나 현재 반복을 건너뛰어야 할 경우에 break를 사용함. 예를 들어, 꽈배기 10개를 준비한 상황에서 11번째 주문이 들어온다면 품절이라고 출력되어야 함.

In [154]:
# 꽈배기 품절일 때
korean_pretzel = 10
while korean_pretzel:
    print('꽈배기 ', korean_pretzel, '개 있습니다.')
    order = int(input('주문 개수 : '))
    korean_pretzel -= order
    print('남은 꽈배기는 ', korean_pretzel, '개 입니다.')
    print('*'*25)
    if korean_pretzel <= 0:
        print('꽈배기 품절입니다.')
        break

꽈배기  10 개 있습니다.
주문 개수 : 9
남은 꽈배기는  1 개 입니다.
*************************
꽈배기  1 개 있습니다.
주문 개수 : 4
남은 꽈배기는  -3 개 입니다.
*************************
꽈배기 품절입니다.

(4) while문과 continue

break 명령은 루프를 탈출하는 데 비해 continue 명령은 이번 루프만 건너뛰고 나머지는 계속 수행 함.

break는 루프를 빠져 나오는 것이고, continue는 하나만 건너 뛰고 선두로 돌아 루프를 계속 실행.

In [155]:
# break
a = 0
while a < 10:
    a += 1
    if a % 2 ==0:
        break
    print(a)

1

In [156]:
# continue
a = 0
while a < 10:
    a += 1
    if a % 2 ==0:
        continue
    print(a)

1
3
5
7
9

(5) 무한 루프

무한 루프는 반복 횟수를 정하지 않고 무한히 반복하는 루프를 뜻함.

while문으로 작성하고 뒤에 배울 for문으로는 무한 루프를 만들 수 없음.

In [157]:
# 주석을 풀고 무한 루프를 돌려보자
# while True:
    # print("코드 블럭 왼쪽 위에 ■을 눌러 코드 실행 중지를 눌러 주세요.")

# 10-3. for문과 range함수 (조건문)

(1) for문의 기본 구조

for문은 컬렉션의 요소를 순서대로 반복하면서 수행할 문장을 실행하는 반복문.

컬렉션(collection) 은 여러 개의 값을 모아 놓은 집합.
대표적인 컬렉션은 리스트, 튜플, 문자열이 있음.

for문의 기본 구조

for 변수 in 컬렉션:

    수행할 문장

이 때 변수는 i를 자주 씀.

(2) for문 예시

for문은 예제를 통해서 보는 것이 가장 이해가 쉬움.

리스트로 반복문 만들기

문자열로 반복문 만들기

다양한 for문 활용

In [158]:
# 리스트로 반복문 만들기
a = [1, 2, 3]
for i in a:
    print(i,'번 출력')

1 번 출력
2 번 출력
3 번 출력

In [159]:
# 문자열로 반복문 만들기
a = 'aiffel'
for i in a:
    print(i)

a
i
f
f
e
l

In [160]:
# 다양한 for문 활용
a =[('apple','사과'), ('banana', '바나나'), ('melon', '멜론')]
for (en, ko) in a:
    print(en, '는(은) 한국어로', ko, '입니다.')

apple 는(은) 한국어로 사과 입니다.
banana 는(은) 한국어로 바나나 입니다.
melon 는(은) 한국어로 멜론 입니다.

(3) for문과 continue

for문에서도 continue를 사용할 수 있음.  (while과 동일하게 작용하기 때문)

5명 학생들의 점수 데이터를 보고 60점 이상을 받아서 합격한 학생들에게만 축하 메세지를 출력해봄.

In [161]:
# for문과 continue 예시
a = [('은정', 98), ('경애', 59), ('초희',  72), ('선영', 80), ('영미', 50)]
for (name, score) in a:
    if score < 60:
        continue
    print(name,'님 합격을 축하합니다.')

은정 님 합격을 축하합니다.
초희 님 합격을 축하합니다.
선영 님 합격을 축하합니다.

(4) for문 + range함수

for문은 range함수와 함께 자주 쓰임.

range함수를 이용해서 간단하게 숫자들의 컬렉션을 만들 수 있기 때문에.

range(시작 값, 끝 값+1, 증가 값)의 형태로 사용함.

여기서 시작 값과 증가값은 생략 가능하고 그 값은 각각 자동으로 0, 1이 됨.

In [162]:
# 예시
for i in range(0,6,2):
    print(i)

0
2
4

In [163]:
# 증가 값 생략
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [164]:
# 증가 값, 시작 값 생략
for i in range(6):
    print(i)

0
1
2
3
4
5

In [165]:
# 음수인 증가값과 함께 쓰면 역순으로도 가능
for i in range(6,0,-1):
    print(i)

6
5
4
3
2
1

In [166]:
# 0까지 출력하고 싶다면 '0-1' 값을 넣어주면 됩니다.
for i in range(6,-1,-2):
    print(i)

6
4
2
0

# 11-2. 예약어(Reserved Words) (함수)

(1) 예약어 (Reserved Words)

예약어란 단어 그대로 특정 기능을 수행하도록 미리 예약되어 있는 단어를 뜻함.

여기서 중요한 것은 예약어는 절대로 변수명으로 쓰일 수 없음.
이는 파이썬을 포함하여 어떤 언어를 배울 때도 동일한 규칙임.

In [167]:
# 파이썬의 버전 확인하기
!python --version

Python 3.11.13

In [168]:
# 파이썬 예약어 리스트 출력하기
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [169]:
# 예약어 리스트의 개수
len(keyword.kwlist)

35

(2) 25개 예약어 톺아보기

예약어 중 True, False, None 을 제외하고는 모두 소문자로 이루어져 있음.

즉, 예약어는 대,소문자를 구별하니 주의해야 함.

톺아볼 예약어를 낯이 익은 예약어와 낯선 예약어로 나눠서 보면,

https://humahumahuma.tistory.com/2

In [170]:
# None 데이터 타입 찍어보기
type(None)

NoneType

# 11-3. 함수 (함수)

(1) 파이썬에서 함수란?

파이썬에서는 식별자 뒤에 괄호가 붙어 있으면 해당 식별자를 함수라고 부름.

type(), len() 등은 파이썬에 내장되어 있는 함수이고, 사용자가 직접 정의할 수도 있음.

함수를 쓰는 이유는 프로그래밍 자체가 반복적으로 사용되는 코드 자주 쓰는데
매번 동일한 코드를 반복해서 쓰는 것보다 함수로 한번 정의해 놓고 계속 사용하는 것이 효율적이기 때문.

함수에 대한 용어

함수를 만드는 것을 함수를 정의한다고 표현함.

정의한 함수를 사용하는 것은 함수를 호출한다고 표현함.

함수 괄호 내부에 여러 가지 자료를 넣게 되는데, 이 자료를 매개변수(parameter) 라고 부름.

함수를 호출할 때 넣는 값을 인수(argument) 라고 부름.

함수의 결과를 리턴값(return) 이라고 부름.


(2) 함수의 기본 구조

함수는 한마디로 '코드의 집합'임.  기본구조는 아래와 같음.

def 함수 이름(매개변수):

  수행할 문장 1

  수행할 문장 2


def add(a, b):  # 함수 이름은 add이고 입력 두개(a, b)값을 받으면

  return a+b  # 리턴값은 입력 두개 (a,b)를 더한 값이다.
  

함수 이름은 add

매개변수는 a, b

리턴값은 a + b

In [171]:
# 간단한 함수를 통해 매개변수와 인수의 차이를 느껴 보세요
def add(a, b):    # a, b는 매개변수
    return a + b

add(1, 2)  # 1, 2는 인수

3

# 11-4. 다양한 함수의 형태 (함수)

(1) 입력값, 결과값이 있는 함수

입력값, 결과값이 있는 함수는 가장 일반적인 함수.

In [173]:
# 입력값, 결과값이 있는 함수
def divide(a, b):
    return a//b

divide(10, 3)
# 입력값은 10, 3 이고 결과값은 3

3

(2) 입력값이 없는 함수

입력값이 없는 함수도 있음.
함수를 만들 때 매개변수를 넣지 않고 괄호를 비워두면 됨.

In [174]:
# 입력값이 없는 함수
def hello():
     return 'hi!'

hello()

'hi!'

(3) 결과값이 없는 함수

결과값이 없는 함수도 있음

In [175]:
# 결과값이 없는 함수
def repeat(a, b):
    print(a*b)

repeat('aiffel', 3)

# 결과값은 함수가 최종으로 리턴하는 값을 말함. .
# 그런데 위에 출력된 값은 수행할 문장안에 있는 print함수가 실행된 것 뿐임

aiffelaiffelaiffel

In [176]:
# 변수에 함수 할당하기
check = repeat('aiffel', 3)

aiffelaiffelaiffel

In [177]:
print(check)
# repeat함수가 호출 되어서 출력 값이 나왔지만
# 해당 함수를 할당한 check변수를 출력하면 None이 나오는 것을 확인할 수 있음.
# 예약어에서 언급했듯이 None은 값이 없음을 의미. 즉 결과값은 없음.

None

(4) 입력값도 결과값도 없는 함수

In [178]:
# 입력값도 결과값도 없는 함수
def repeat():           # repeat이라는 함수는
    print('Hello! Python')    # 'Hello! Python!' 출력한다.

repeat()

Hello! Python

In [179]:
a = repeat()

Hello! Python

In [181]:
print(a)

# 입력 인수를 받는 매개변수도 없고 return문도 없으니 입력값도 결과값도 없는 함수임.

None

# 12-2. 인수의 형식 (함수 활용하기)

1. 인수의 형식

(1) 위치 인수

함수에 넣는 인수의 위치가 정해져 있는 방식을 위치 인수(positional argument)라고 함

In [182]:
def print_nums(a, b, c):
    print(c)
    print(b)
    print(a)

print_nums(10, 20, 30)

30
20
10

인수를 순서대로 넣을 때, 리스트나 튜플을 사용할 수도 있음.

아래 예시처럼 리스트나 튜플 앞에 *(애스터리스크)를 붙여서 함수에 넣어주면 됨.

In [183]:
a = [10, 20, 30]
print_nums(*a)

30
20
10

세 개의 인수를 가각 넣지 않고 요소가 3개인 리스트 앞에 *만 붙였는데 함수가 잘 작동함.

리스트 앞에 *를 붙이면 언패킹(unpacking)이 되어서 print_nums(10, 20, 30)와 똑같은 동작이 되기 때문임.
.
언패킹(unpacking)은 말 그대로 리스트나 튜플의 포장을 푼다는 뜻.

리스트 변수 말고 직접 *을 붙여도 동작은 같음.

In [184]:
print_nums(*[10, 20, 30])

30
20
10

단, 매개 변수의 개수와 리스트의 요소 개수가 같아야 함. 같지 않으면 에러가 발생.

In [186]:
# 주석을 풀고 확인해보세요
# a = [10, 20, 30, 40]
# print_nums(*a)

# TypeError: print_nums() takes 3 positional arguments but 4 were given

(2) 가변 인수

이때까지 배운 함수에서는 요구하는 개수만큼만 인수를 전달 해야함.

예를 들어 def aiffel(a, b, c) 함수는 인수를 3개만 전달해야 하고 def aiffe_2(a) 함수는 인수를 1개만 전달해야 함.

이에 비해 지금 배울 가변 인수(variable argument) 는 임의 개수의 인수를 받을 수 있음.

매개변수 앞에 * 기호를 붙이면 됨.

def 함수명(*매개변수):

  코드
  
주의할 점은 언팩킹은 인자에 * 기호를 붙이는 것이고, 가변 인수는 매개변수 앞에 * 기호를 붙여야함.

In [188]:
def sum_nums(*args):
    sum = 0
    for arg in args:
        sum += arg
    return sum

In [189]:
sum_nums(1, 2, 3)

6

In [190]:
sum_nums(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

55

In [191]:
sum_nums()

0

임의 개수의 인수를 받기 때문에 3개, 10개뿐만 아니라 아무런 인수가 없어도 에러 없이 리턴값을 출력함.

이렇게 함수에 인수를 직접 여러 개 넣어도 되고, 리스트나 튜플 언패킹을 사용해도 됨.

In [192]:
a = (1, 3, 5, 7, 9)

sum_nums(*a)

25

(3) 키워드 인수

지금까지 함수에 인수를 넣을 때 값이나 변수를 그대로 넣었는데,  이러면 각각의 인수가 무슨 용도인지 알기가 어려웠음.

이런 점을 보완하기 위해 키워드 인수를 사용할 수 있음.

용도를 알고 있으면 순서와 상관없이 용도에 맞게 인수가 자기 자리를 찾을 수 있도록 키워드 인수를 사용함.

예를 들어 반려견의 정보를 출력하는 함수로 실슴.

In [193]:
def dog_info(name, age, breed):
    print('이름 :', name)
    print('나이 :', age)
    print('품종 :',  breed)

In [194]:
# 알맞은 순서
dog_info('규봉이', 10, '진돗개')

이름 : 규봉이
나이 : 10
품종 : 진돗개

In [195]:
# 잘못된 순서
dog_info(10, '진돗개', '규봉이')

이름 : 10
나이 : 진돗개
품종 : 규봉이

파이썬에서는 인수의 순서와 용도를 매번 기억하지 않아도 되도록 키워드 인수(keyword argument)라는 기능을 제공.

키워드 인수는 말 그대로 인수에 키워드를 붙여서 순서와 상관없이 자기 용도에 맞게 쓸 수 있게 만들어줌.

In [196]:
dog_info(age=10, breed='진돗개', name='규봉이')

이름 : 규봉이
나이 : 10
품종 : 진돗개

In [197]:
# 키워드 인수 중 가장 대표적인 것은 print함수의 sep, end.

print(10, 20, 30, 40, 50, sep=':', end='끝')

10:20:30:40:50끝

(4) 키워드 인수 + 딕셔너리 언패킹

딕셔너리를 사용해서 키워드 인수로 값을 넣는 딕셔너리 언패킹.

딕셔너리 언패킹은 딕셔너리 앞에 ** (애스터리스크 두 개)를 붙여서 함수에 넣어줌..

In [198]:
def dog_info(name, age, breed):
    print('이름 :', name)
    print('나이 :', age)
    print('품종 :',  breed)

In [199]:
# 딕셔너리에 '키워드': 값 의 형식으로 인수를 저장하고 앞에 ** 붙여서 함수에 넣어줌.

a = {'name':'규봉이', 'age':10, 'breed':'진돗개'}

dog_info(**a)

이름 : 규봉이
나이 : 10
품종 : 진돗개

In [200]:
# 리스트나 튜플을 언패킹할 때 처럼 변수 대신 딕셔너리 앞에 바로 ** 를 붙여도 동작은 같음.

dog_info(**{'name':'규봉이', 'age':10, 'breed':'진돗개'})

이름 : 규봉이
나이 : 10
품종 : 진돗개

In [201]:
# 딕셔너리만 *을 두 번 사용하는 이유는, 딕셔너리는 키:값 쌍의 형태로 값이 저장되어 있기 때문.
# *을 한 번만 사용하면,  오류가 나지 않지만, key 만 출력됨.  따라서 ** 를 사용해야함.

dog_info(*{'name':'규봉이', 'age':10, 'breed':'진돗개'})

이름 : name
나이 : age
품종 : breed

(5) 키워드 가변 인수

키워드 인수를 사용하면서 동시에 가변 인수 함수를 만들 수 있음.

이 함수를 만드는 방법은 가변 인수 함수를 만드는 것과 동일함.

다른 점은 인수를 함수에 넣을 때, 키워드와 함께 넣어야 한다는 점.

In [202]:
# 키워드 가변 인수 함수인 dog_info 함수를 새롭게 만들고 인수를 넣어보면

def dog_info(**kwargs):
    for kword, arg in kwargs.items():
        print(kword, ':', arg)

In [203]:
# items() 딕셔너리의 Key:Value 쌍을 얻을 때 쓰는 함수.
# 키워드와 인수를 넣었을 때, 자동으로 키워드와 인수를 저장해줌.

dog_info(name='규봉이')

name : 규봉이

In [204]:
dog_info(name='규봉이', age=10, gender='male')

name : 규봉이
age : 10
gender : male

In [206]:
# 위 처럼 인수를 직접 넣어도 되고 딕셔너리를 언팩킹해도 됨
a = {'name':'규봉이', 'age':10, 'breed':'진돗개', 'gender':'male'}

dog_info(**a)

name : 규봉이
age : 10
breed : 진돗개
gender : male

# 12-3. 변수의 범위 variable scope (함수 활용하기)

파이썬에서는 변수의 선언 위치에 따라 변수가 영향을 미치는 범위가 달라짐

변수의 범위에 따라 지역 변수와 전역 변수로 나뉨.

1) 지역 변수(local variable)

함수는 동작에 필요한 변수를 얼마든지 사용할 수 있는데, 함수 내부에서 선언하는 변수를 지역 변수라고 부름.

앞서 만든 함수 sum_nums에서 누적 합을 저장하기 위해 sum이라는 변수를 사용했는데, 이 sum변수는 함수 내에서 선언했기 때문에 지역 변수임.

지역 변수를 사용하는 이유는 함수에 필요한 모든 것을 내부에 포함시켜 독립성을 향상 시키기 위함임.

또 지역 변수는 함수 동작에 필요한 모든 것을 내부에 완벽하게 소유할 수 있도록 하여 재활용성이 향상됨.

In [207]:
def sum_nums(*args):
    sum = 0
    for arg in args:
        sum += arg
    return sum

In [209]:
def mango():
    temp='망고'
    print(temp)

mango()
# print(temp)

# mango함수 안에서 temp 지역 변수에 '망고' 를 대입하고 출력했음.
# 함수를 호출하면 mango은 내부적으로 temp 변수를 만들고 사용한 다음에 함수가 종료되면 사라짐..
# 그렇기 때문에 함수 밖에서 temp 변수를 출력하려고하면 존재하지 않는다는 에러가 뜨게 됨..

망고

(2) 전역 변수(global variable)

지역 변수와 반대로 함수 바깥에서 선언하는 변수를 전역 변수 라고 함.

전역 변수는 지역 변수와 달리 어디에서나 참조 할 수 있음

In [212]:
sale_rate = 0.15

def notice():
    print('오늘 할인율은', sale_rate*100, '% 입니다.')

def cal_price(price):
    print('할인된 가격은', price*(1-sale_rate), '원 입니다.')

notice()

# 여기서 sale_rate이 전역 변수임.  그렇기 때문에 두 개 함수에서 모두 참조할 수 있음

오늘 할인율은 15.0 % 입니다.

In [213]:
cal_price(10000)

할인된 가격은 8500.0 원 입니다.

In [215]:
# sale_rate이 전역 변수이므로,  sale_rate을 바꾸면, 함수의 결과값도 바뀌게 됨.
sale_rate = 0.3

notice()
cal_price(10000)

오늘 할인율은 30.0 % 입니다.
할인된 가격은 7000.0 원 입니다.

# 12-4. 함수에서 재귀호출 사용하기 (함수 활용하기)

(1) 재귀 호출이란?

함수 안에서 함수 자기자신을 호출하는 방식을 재귀호출(recursive call)이라고 함.

자주 쓰이지는 않지만 추후에 알고리즘을 구현할 때 매우 유용 (알고리즘에 따라서 반복문으로 구현한 코드보다 재귀호출로 구현한 코드가 직관이고 이해하기 쉬운 경우가 많음.)

In [216]:
def hello():
    print('Hello, world!')
    hello()

# hello()

# 재귀 깊이를 정해주지 않으면 error가 나게됨.왜냐하면 파이썬에서 최대 재귀깊이가 1,000으로 정해져 있어서.
# 그러니 재귀 호출이 1,000까지 가지 않도록 종료 조건을 반드시 만들어주어야 함.

In [217]:
def hello(count):
    if count == 0:  # 종료 조건
        return      # if문이 참이면 그대로 끝

    print('Hello, world!',  count)
    count -= 1
    hello(count)

hello(3)

Hello, world! 3
Hello, world! 2
Hello, world! 1

# 13-2. 리스트를 다루는 여러가지 방법 (리스트, 딕셔너리 다루기)

🔶 1차원 리스트

한 줄로 늘어선 리스트는 1차원 리스트.

리스트는 다차원으로 만들 수도 있음.  

평면 모양의 2차원 리스트는 가로 x 세로 형태로 이루어져 있고, 가로는 행(row), 세로는 열(column)이라고 부름.  행과 열의 인덱스는 모두 0부터 시작.

🔶 2차원 리스트

1차원과 비슷하게 나열한 것처럼 보이지만, 2차원 리스트는 행렬 모양으로 구성된 모습임.

🔶 3차원 리스트

3차원 리스트는 행, 열 이외에 depth라는 개념이 생김

2차원일 때는 [행][열] 순서로 적었다면 3차원일때는 [depth][행][열]로 적고 이를 통해 인덱싱할 수 있음

In [219]:
list_o = ['a', 'i', 'f', 'f', 'e', 'l']   # 1차원 리스트
list_o

['a', 'i', 'f', 'f', 'e', 'l']

In [221]:
list_tw = [[1, 2], ['ㄱ', 'ㄴ'], ['a', 'b']] # 2차원 리스트
list_tw

[[1, 2], ['ㄱ', 'ㄴ'], ['a', 'b']]

In [223]:
len(list_tw) # 2차원 리스트의 길이

3

In [226]:
# 2차원 리스트의 인덱싱  list[행][열]
# 3행 1열 출력
list_tw[2][0]

'a'

In [228]:
# Q. 2행 2열을 출력해보세요.
list_tw[1][1]

'ㄴ'

In [229]:
# 인덱싱 한개만 써보면, 2번행 전체가 출력됨
list_tw[2]

['a', 'b']

In [230]:
# 4행, 3열, depth 2인 3차원 리스트
list_th = [[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]],\
           [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i'], ['j', 'k', 'l']]]
list_th

[[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]],
 [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i'], ['j', 'k', 'l']]]

In [233]:
# 3차원 리스트의 길이
len(list_th)

# 인덱싱 첫번째 순서가 depth였기 때문에 depth의 길이가 나옴.

2

In [234]:
# [1, 2, 3]이 나오도록 3차원 리스트 list_th를 인덱싱해 보면,
# [1, 2, 3]은 depth와 행의 인덱스가 0이고, 열은 전체를 인덱싱해야 하니까 생략할 수 있음
# 열 생략 ver.
list_th[0][0]

[1, 2, 3]

In [235]:
# 열 기재 ver.
# depth 1, 1행, 열 전체
list_th[0][0][:]

[1, 2, 3]

In [236]:
# 이번에는 c 요소를 인덱싱해보겠습니다. depth는 1, 행의 인덱스가 0이고 열의 인덱스는 2입니다.
# depth 2, 1행, 3열
list_th[1][0][2]

'c'

In [238]:
# Q. ['d', 'e', 'f']를 선택하려면 인덱싱을 어떻게 해야 할까요?
list_th[1][1]

['d', 'e', 'f']

리스트 함수

🔶 min(), max()
리스트에서 최댓값과 최솟값을 구하는 함수

🔶 sum()
sum() 함수는 인자로 들어온 리스트나 튜플의 숫자형 자료형들을 모두 더하는 함수.

반복문을 통해서 더할 수 있지만 내장함수인 sum()을 이용하면 더 간단하게 전체합을 구할 수 있음.


🔶 enumerate()
리스트의 원소에 순서값을 부여해줌. enumerate()는 for문과 함께 쓰임.

ragen()와 비슷.

🔶 zip()
zip() 함수는 여러 개의 순회 가능한(iterable) 객체를 인자로 받고, 각 객체가 담고 있는 원소를 순차적으로 접근할 수 있는 반복자(iterator)를 반환.

이 때 반복자, 즉 이터레이터는 파이썬에서 반복적으로 요소를 하나씩 꺼내어 처리할 수 있는 객체를 부르는 이름.

In [259]:
kims_age = [60, 28, 30, 34, 66, 11]
kims_age

[60, 28, 30, 34, 66, 11]

In [260]:
max(kims_age)

66

In [241]:
min(kims_age)

11

In [ ]:
# 이탈리아 축구 팀인 '나폴리'의 선수와 번호입니다 :)
napoli = ['minjae', 3, '크바라츠헬리아', 77, 'Osimhen', 9, 'Anguissa', 99]

# 아래 주석을 풀어보면
# min(napoli), max(napoli)

# '<' not supported between instances of 'int' and 'str' 라는 오류가 뜸.
#  int형과 str형은 서로의 크고 작음을 비교할 수 없기 때문임.

In [249]:
# 문자열만 있는 리스트에 min() & max() 함수를 사용.
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']  # 문자열만 있는 리스트
max(napoli_player)

'크바라츠헬리아'

In [250]:
# 문자열만 있는 리스트에 min() & max() 함수를 사용.
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']  # 문자열만 있는 리스트
min(napoli_player)

'Anguissa'

이때 문자열을 비교하는 기준은 아스키 코드(ASCII) 아스키 코드는 정보를 교환하는 부호.

문자열이나 기호를 컴퓨터가 이해할 수 있도록 인코딩(encoding)한 신호임.

아스키 코드 ➔ 문자열로 변화하는 함수는 chr()이고, 문자열 ➔ 아스키 코드로 변환하는 함수는 ord().

아스키 코드는 소문자, 대문자, 자음, 자음+모음을 모두 구분.

In [252]:
# 아스키 코드 ➔ 문자열
chr(105), chr(110), chr(121), chr(111), chr(117)

('i', 'n', 'y', 'o', 'u')

In [253]:
# 문자열 ➔ 아스키 코드
ord('m'), ord('크'), ord('O'), ord('A')

(109, 53356, 79, 65)

In [264]:
# 반복문으로 리스트의 모든 값 더하기
total_sum = 0
for i in kims_age:
    total_sum += i

print(total_sum)

229

In [269]:
# sum()함수로 더하기
# sum(kims_age)

# TypeError: 'int' object is not callable

In [271]:
for i in enumerate(kims_age):
    print(i)

(0, 60)
(1, 28)
(2, 30)
(3, 34)
(4, 66)
(5, 11)

In [272]:
# zip만 출력해보기
napoli_num = [3, 77, 9, 99]
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']
zip(napoli_num, napoli_player)

In [273]:
# for문에 zip을 넣고 출력해보기
napoli_num = [3, 77, 9, 99]
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']

for i in zip(napoli_num, napoli_player):
    print(i)

(3, 'minjae')
(77, '크바라츠헬리아')
(9, 'Osimhen')
(99, 'Anguissa')

In [274]:
# 다시 한 번 확인
napoli_num = [3, 77, 9, 99]
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']

check_zip = list(zip(napoli_num, napoli_player))

# zip이 잘 되었는지 확인해볼까요?
print(check_zip)

[(3, 'minjae'), (77, '크바라츠헬리아'), (9, 'Osimhen'), (99, 'Anguissa')]

In [275]:
# unzip 활용해서 해체
new_num, new_player = zip(*check_zip)
print(new_num)
print(new_player)

(3, 77, 9, 99)
('minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa')

# 13-3. 딕셔너리를 다루는 여러가지 방법 (리스트, 딕셔너리 다루기)

🔶 key-value 추가하기 : setdefault(), update() 딕셔너리에 key-value를 추가하는 메서드는 두 가지가 있음.

🔶 setdefault()

딕셔너리.setdefault(key, value)

이미 해당 key가 있을 때: 그 key의 value를 반환

key가 없을 때: 딕셔너리에 key:value를 저장하고 value를 반환

🔶 update()

딕셔너리.update(iterable)

특정 key-value 조합을 삽입

🔶 key-value 삭제하기 : pop(), popitem()
del 예약어를 통해 특정 key를 지정해서 삭제.  딕셔너리 요소 쌍을 삭제하는 함수에는 pop()이 있음.

🔶 pop()

리스트에서 pop() 함수는 마지막 요소를 출력하고 그 이후에 마지막 요소를 삭제.

🔶 popitem()

리스트에서 pop()처럼 딕셔너리에서 특정 key를 지정하지 않아도 마지막 value만 출력해주는 함수

🔶 딕셔너리 생성 : fromkeys()

dict.fromkeys(리스트 또는 튜플)
fromkeys()는 리스트나 튜플을 넣으면 자동으로 딕셔너리를 만들 수 있는 함수

In [276]:
# 반복문으로 아스키 코드 확인
for i in ['a', 'b', 'c', 'd']:
    print(ord(i))

97
98
99
100

In [279]:
# 딕셔너리의 형태는 {Key1:Value1, Key2:Value2, Key3:Value3, ...}
dict_uni = {'a':97, 'b':98, 'c':99, 'd':100}
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100}

In [280]:
# 딕셔너리에 이미 있는 key 넣어보기
dict_uni.setdefault('c')

99

In [281]:
# 새로운 key만 넣기
dict_uni.setdefault('e')
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': None}

In [282]:
# 'e'값을 삭제하고 다시 넣어보겠습니다.
del dict_uni['e']
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100}

In [283]:
# 새로운 key와 value ('e', 101)를 추가
dict_uni.setdefault('e', 101)
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

In [284]:
# 새로운 key인 'f'만 추가.
dict_uni.setdefault('f')
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': None}

In [285]:
# update()로 딕셔너리 update하기
dict_uni.update(f=102)
dict_uni

# setdefault()는 key만 넣어도, value와 함께 넣어도 key-value를 추가.
# update()는 추가도 할 수 있고 수정까지 할 수 있는 함수.

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102}

In [286]:
# pop() 함수는 마지막 요소를 출력하고 삭제합니다.
kims_age.pop()

11

In [287]:
# 삭제됐는지 확인
kims_age

[60, 28, 30, 34, 66]

In [288]:
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102}

In [290]:
# # dict_uni.pop() 오류가 뜸.  리스트와 다르게 딕셔너리에서는 pop()은 key를 넣어줘야 하기 때문
# pop(key)
dict_uni.pop('f')

102

In [291]:
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

In [292]:
# 마지막 value만 꺼내서 삭제
dict_uni.popitem()

('e', 101)

In [293]:
dict_uni

{'a': 97, 'b': 98, 'c': 99, 'd': 100}

In [298]:
# pop() 함수만 사용해서 1부터 10까지의 합을 구하면

nums = list(range(1, 11))  # [1, 2, ... , 10]
result = 0  # 결과값 - 여기에 숫자를 계속 더해주세요!

for _ in range(10): # We iterate 10 times because there are 10 elements to pop
    result += nums.pop() # Use the list's pop method

print(result)

55

In [299]:
kims_age = [60, 28, 30, 34, 66, 11]
kims_dict = dict.fromkeys(kims_age)
kims_dict

{60: None, 28: None, 30: None, 34: None, 66: None, 11: None}

In [301]:
kims_age = [60, 28, 30, 34, 66, 11]
kims_dict = dict.fromkeys(kims_age, 'kor')  # key, value 순서로 입력도 가능
kims_dict

{60: 'kor', 28: 'kor', 30: 'kor', 34: 'kor', 66: 'kor', 11: 'kor'}

in / not in

예약어의 의미 자체로 알 수 있듯이 요소가 들어있는지 확인하는 예약어.

조건문과 자주 쓰이며 요소가 있는지 없는지를 알 수 있음.

in / not in 의 리턴값은 bool.  즉 True 또는 False로 리턴.

In [302]:
# 요소 in 리스트
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']
'minjae' in napoli_player

True

In [304]:
'Son' in napoli_player

False

In [305]:
# not in
'Son' not in napoli_player

True

In [307]:
# dictionary에서는 key값만 확인 가능
dict_uni = {'a': 97, 'b':98, 'c':99, 'd':100}
'a' in dict_uni

True

In [309]:
# dictionary에서는 value값은 확인 불가능
100 in dict_uni

False

In [310]:
# value를 확인하기 위해서는 이전에 배웠던 values() 함수와 함께 사용
100 in dict_uni.values()

True

In [311]:
101 in dict_uni.values()

False

In [312]:
# 튜플에서도 사용
'Son HeungMin' in ('Kim MinJae', 'Son HeungMin', 'Lee GangIn')

True

In [313]:
# not in은 str(영어)에서도 사용할 수 있음.
's' in 'football'

False

In [314]:
# in은 str(한글)에서도 사용가능
'잘' in '잘 먹었습니다.'

True

# 13-4. 컴프리핸션 (리스트, 딕셔너리 다루기)

컴프리헨션(Comprehension)은 파이썬의 문법 중 하나.

대괄호 [ ]안에 if문, for문, in의 조건과 반복문을 활용.

컴프리헨션은 패턴이 있는 리스트, 셋(집합), 딕셔너리에서 활용할 수 있음.

컴프리헨션을 사용하면 여러 줄을 코드로 한 줄의 코드로 줄일 수 있기에 직관적이고 파이써닉(pythonic)한 표현을 할 수 있음

리스트 컴프리헨션

🔶 반복문과 컴프리헨션

In [320]:
# 리스트 반복문
list_for = []
for i in range(0, 11, 2):
    list_for.append(i)

print(list_for)

# 반복문으로 리스트를 만들 때는 반복문을 쓰기 전에 리스트 자체를 만드는 코드를 따로 써줘야 함.
# 리스트명에 비어있는 리스트를 먼저 할당해야 함.
# 반복문에서는 콜론(:) 다음 들여쓰기 후에 append() 함수와 그 안에 변수를 씀

[0, 2, 4, 6, 8, 10]

In [321]:
# 리스트 컴프리헨션
[x for x in range(0, 11, 2)]

# 반면 컴프리헨션으로 리스트를 만들 때는 가장 바깥에 대괄호 [ ]만 써주면 됨.
# 컴프리헨션에서는 반복문 앞에 변수만 쓰면 됨.

[0, 2, 4, 6, 8, 10]

In [324]:
[str(x) * 2 for x in range(0, 11, 2)]

['00', '22', '44', '66', '88', '1010']

In [337]:
# 리스트 컴프리핸션
[x**2 for x in range(10)]

# [0, 1, 4, 9, 16, ..., 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

🔶반복문 + 조건문 컴프리헨션

In [338]:
# 반복문 + 조건문
list_con = []
for i in range(0, 11):
    if i % 2 == 0:
        list_con.append(i)

print(list_con)

# 반복문을 사용할 때는 반복문 이전에 리스트명에 비어있는 리스트를 할당함.
# 반복문에서는 조건문의 위치는 반복문 콜론(:) 뒤임.

[0, 2, 4, 6, 8, 10]

In [340]:
# 리스트 컴프리헨션 with 조건문
[x for x in range(1, 11) if x % 2 == 0]

# 컴프리헨션은 대괄호를 쓰는 것만으로 리스트를 만들 수 있음.
# 컴프리헨션에서는 for문 뒤에 조건문이 옴.
# 변수의 위치도 반복문에서와 동일.

[2, 4, 6, 8, 10]

🔶 중복 표현과 컴프리헨션

컴프리헨션에 for문과 if문을 중복해서 쓸 수 있음.

In [343]:
# 반복문
sweetie = ['아이스크림', '크림빵', '젤리']
savory = ['감자칩', '팝콘', '뿌셔뿌셔']

sweet_savory = []
for x in sweetie:
    for y in savory:
        sweet_savory.append([x, y])

sweet_savory

[['아이스크림', '감자칩'],
 ['아이스크림', '팝콘'],
 ['아이스크림', '뿌셔뿌셔'],
 ['크림빵', '감자칩'],
 ['크림빵', '팝콘'],
 ['크림빵', '뿌셔뿌셔'],
 ['젤리', '감자칩'],
 ['젤리', '팝콘'],
 ['젤리', '뿌셔뿌셔']]

In [344]:
# 단짠단짠 조합 컴프리헨션
sweetie = ['아이스크림', '크림빵', '젤리']
savory = ['감자칩', '팝콘', '뿌셔뿌셔']

[[x, y] for x in sweetie for y in savory]

[['아이스크림', '감자칩'],
 ['아이스크림', '팝콘'],
 ['아이스크림', '뿌셔뿌셔'],
 ['크림빵', '감자칩'],
 ['크림빵', '팝콘'],
 ['크림빵', '뿌셔뿌셔'],
 ['젤리', '감자칩'],
 ['젤리', '팝콘'],
 ['젤리', '뿌셔뿌셔']]

In [345]:
# if문의 중복 2와 3의 공배수
[x for x in range(1, 30) if x % 2 == 0 if x % 3 == 0]

[6, 12, 18, 24]

리스트 컴프리헨션은 셋 컴프리헨션 & 딕셔너리 컴프리헨션을 확장 가능

🔶 셋(set) 컴프리헨션

리스트를 만들 때 쓰는 대괄호 [ ] 대신에 중괄호 { }를 써wna.

🔶 딕셔너리 컴프리헨션

중괄호를 이용하면서 동시에 key:value의 형태로 내용을 채운다면 딕셔너리 컴프리헨션이 되어, 간단하게 딕셔너리를 만들 수 있음.

In [346]:
# {나폴리 선수 번호:이름} 딕셔너리
napoli_num = [3, 77, 9, 99]
napoli_player = ['minjae', '크바라츠헬리아', 'Osimhen', 'Anguissa']
{k:v for k, v in zip(napoli_num, napoli_player)}

{3: 'minjae', 77: '크바라츠헬리아', 9: 'Osimhen', 99: 'Anguissa'}

In [347]:
# 딕셔너리 컴프리헨션 with if문
{k:v for k, v in zip(napoli_num, napoli_player) if k < 50}

{3: 'minjae', 9: 'Osimhen'}